@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url("/reset.css");
body{
    font-family: 'Poppins', sans-serif;
    background: #FAFBFF;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;
}
.logo {
    display: flex;
    align-items: center;
    &__image{
        width: 37px;
        height: auto;
    }
    &__text{
        color: #000;
        font-size: 26px;
        font-family: Poppins;
        font-weight: 600;
        letter-spacing: 0.26px;
        margin: 0;
    }
    &__version {
        color: #838383;
        font-size: 10px;
        font-family: Poppins;
        font-weight: 500;
        letter-spacing: -0.1px;
        transform: translate(3px, 5px);
    }
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);
    z-index: 3;
    padding: 0 28px;
    display: flex;
    flex-direction: column;
    &__logo{
        margin-top: 37px;
    }
    .list {
        list-style-type: none;
        margin-top: 65px;
        &__item{
            display: flex;
            width: 250px;
            height: 46px;
            
            margin-top: 18px;
            .menu-item {
                width: 100%;
                color: #9197B3;
                font-size: 14px;
                font-family: Poppins;
                font-weight: 500;
                letter-spacing: -0.14px;
                text-decoration: none;
                transition: 0.3s ease-in-out;
                display: flex;
                align-items: center;
                padding: 0 8px 0 0;
                &:hover{
                    text-decoration: none;
                    color: #5932EA;
                }
                &__icon {
                    margin-left: 11px;
                }
                &__text {
                    margin-left: 10px;
                }
                &__chevron {
                    margin-left: auto;
                }
            }
            &-active{
                border-radius: 8px;
                background: #5932EA;  
                a span{
                    color: #FFF;
                    transition: 0.3s ease-in-out;
                }
                .menu-item__chevron{
                    filter: invert(0%) sepia(0%) saturate(392%) hue-rotate(354deg) brightness(608%) contrast(191%);
                }
            }
        }
    }
    &__user {
        margin-top: auto;
        margin-bottom: 76px;
    }
    .user{
        display: flex;
        flex-direction: row;
        height: 42px;
        align-items: center;
        &__image{
            width: 42px;
            object-fit: cover;
        }
        &__desc{
            display: flex;
            flex-direction: column;
            margin-left: 12px;
            font-family: Poppins;
            font-weight: 500;
            letter-spacing: 0.14px;
            &-name{
                color: #000;
                font-size: 14px;
            }
            &-job-title{
                color: #757575;
                font-size: 12px;
                margin-top: 7px;
            }
        }
    }
}

.customers {
    margin-left: auto;
    margin-right: auto;
    width: 968px;
    &__h2{
        margin-top: 36px;
        color: #000;
        font-size: 24px;
        font-weight: 500;
    }
    
}
.product {
    margin-top: 55px;
    background-color: #FFFFFF; 
    box-shadow: 0px 10px 60px 0px #E2ECF980;
    padding: 36px 36px 36px 38px;
    border-radius: 25px;
    &__head{
        display: flex;
        justify-content: space-between;
        &-text{
            &__title{
                color: #000;
                font-size: 22px;
                font-weight: 600;
                letter-spacing: -0.22px;
            }
            &__subtitle{
                color: #16C098;
                font-size: 14px;
                letter-spacing: -0.14px;
                margin-top: 15px;
            }
        }
        &-search{
            border: none;
            padding: 0;
            .search__input{
                border: 1px solid transparent;
                border-radius: 10px;
                width: 100%;
                padding: 9px 4px 9px 40px;
                background: #F9FBFF url("image/search.svg") no-repeat 13px center;
                transition: 0.3s ease-in-out;
                &:focus {
                    border: 1px solid #5932EA ;
                    outline: none;
                }
                &::placeholder{
                    color: #B5B7C0;
                    font-size: 12px;
                    font-family: Poppins;
                    letter-spacing: -0.12px;
                    transform: translateX(5px);
                }
            }
        }
    }
    &__table {
        margin-top: 47px;
        // overflow-x: auto;
        // -webkit-overflow-scrolling: touch;
        max-width: 888px;

        .table-body {
            width: 100%;
        }
        .table-head{
            th{
                color: #B5B7C0;
                font-size: 14px;
                font-family: Poppins;
                font-weight: 500;
                letter-spacing: -0.14px;
                border-bottom: #EEE 1px solid;
                padding-bottom: 17px;
                text-overflow: ellipsis;
                min-width: 100px;
                text-align: start;
                &:last-child{
                    text-align: center;
                    transform: translateX(20px);
                }
            }
        }
        .table-row{
            td{
                color: #292D32;
                font-size: 14px;
                font-family: Poppins;
                font-weight: 500;
                letter-spacing: -0.14px;
                border-bottom: #EEE 1px solid;
                padding: 22px 0px 21px 0px;
                text-overflow: ellipsis;
                min-width: 100px;
            }
            .table-data__status{
                display: flex;
                justify-content: end;
            }
            .status-flag{
                display: flex;
                width: 80px;
                padding: 4px 12px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 4px;
                font-size: 14px;
                font-weight: 500;
                &_active{
                    border: 1px solid #00B087;
                    background: rgba(22, 192, 152, 0.38);
                    color: #008767;
                }
                &_inactive{
                    border: 1px solid #DF0404;
                    background: #FFC5C5;
                    color: #DF0404;
                }
            }
        }
    }
    &__bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
    }
    &__showing-data{
        color: #B5B7C0;
        font-size: 14px;
        font-family: Poppins;
        font-weight: 500;
        letter-spacing: -0.14px;
        width: 300px;
        
    }
}
.pagination{
    display: flex;
    flex-direction: row;
    .page-item:not(:last-child) {
        margin-right: 12px;
    }
    .page-link {
        display: inline-flex;
        padding: 6px 9px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        border: 1px solid #EEE;
        background: #F5F5F5;
        color: #404B52;
        font-size: 12px;
        font-family: Poppins;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.12px;
        text-decoration: none;
    }
    .page-link:hover{
        border: 1px solid #5932EA;
        background: #5932EA;
        color: #EEE;
    }
}

.sidebar-btn{
    margin-left: 10px;
    background: #FFFFFF;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    -webkit-box-shadow: 7px 13px 53px 28px rgba(230,230,230,0.8);
    -moz-box-shadow: 7px 13px 53px 28px rgba(230,230,230,0.8);
    box-shadow: 7px 13px 53px 28px rgba(230,230,230,0.8);
    z-index: 2;
    cursor: pointer;
}
.sidebar-btn img{
    width: 30px;
    height: auto;
    z-index: 1;
}
@media (max-width: 1150px){
    .logo{
        justify-content: center;
        &__text{
            display: none;
        }
        &__version{
            display: none;
        }
    }
    .menu-item{
        &__chevron{
            display: none;
        }
        &__text{
            display: none;
        }
    }
    .user__desc{
        display: none;
    }
    .customers{
        &__h2{
            text-align: center;
        }
    }
    .product__head{
        align-items: baseline;
        &-text{
            transform: translate
        }
    }
    .pagination{
        justify-content: center;
    }
    
}
@media (max-width: 850px){
    
}
@media (max-width: 650px){
    
}
